extend index
block site_title 
    title  من نحن 
block index
    div(class="sub-banner")
        div(class="container breadcrumb-area")
            div(class="breadcrumb-areas")
                h1 من نحن
                ul(class="breadcrumbs list-unstyled d-flex")
                    li(class="p-1")
                        a(href="index.html" class="p-1") الرئيسية
                    span(class="p-1") /  
                    li(class="active" class="p-1") من نحن    
    div(class="about-us pt-5 pb-5")  
        div(class="container")
            div(class="row")
                div(class="col-md-5 featured-tabs")
 	            
                    img(src="../classic-business/img/abt-left-img.jpg", alt="", srcset="" class="img-fluid")   
                  
                div(class="col-md-7")
                    h3(class="mb-3") دريم 2 للشحن
                    p(class="text-justify") عن الشركة : 
                                |    دورنا يصل الى اكثر من مجرد فهمنا طبيعة عملك , نحن نتعايش معه بكل معوقاته .نجعل من عملك شغلنا الشاغل لنتأكد ان لا شىء يقف حائل لتلبية احتياجات عملك و تحقيق النتائج المرجوة. نضع انفسنا مكانك و ندرك مجال عملك , نتحدث نفس لغتك , نقدر تماما اكثر متطلبات عملك غرابة 
                    a(class="download-porshure btn text-right" href="http://www.dream2shipping.com/en/logos/profile.rar") 
                        i(class="fas fa-file-download")
                        | تحميل الملف التعريفي
    //- why chooce
    div(class="feat why-chooce bg-gray pt-5 pb-5")
        div(class="container")
            div(class="row")
                div(class="section-head col-sm-12")
                    h4
                        span لماذا 
                        |  تختارنا ؟
                    p نحن نركز على القيام افضل عمل لك و ليس اسهل عمل لنا . معرفتنا بالصناعة عالميا , و الخبرة المكتسبة من افضل ممارسة بالاضافة الى الشراكة لفترة طويلة مع عملائنا مكنتنا من الحصول على فرص كبيرة لتوفير التكاليف و ترجمت كل ذلك الى حلول مبتكرة تقدم بشكل تفصيلى حسب احتياجاتك .
                div(class="col-lg-4 col-sm-6")
                    div(class="item")
                        span(class="icon feature_box_col_one")
                            i(class="fas fa-shield-alt")
                        h6 امان عالى 
                        p نحن  نركز على القيام افضل عمل لك و ليس اسهل عمل لنا 
                div(class="col-lg-4 col-sm-6")
                    div(class="item")
                        span(class="icon feature_box_col_two")
                            i(class="fa fa-rocket")
                        h6 دعم لا نهائي
                        p نحن  نركز على القيام افضل عمل لك و ليس اسهل عمل لنا 
                div(class="col-lg-4 col-sm-6")
                    div(class="item")
                        span(class="icon feature_box_col_three")
                            i(class="fas fa-stopwatch")
                        h6 خدمة 24 ساعة
                        p نحن  نركز على القيام افضل عمل لك و ليس اسهل عمل لنا 
                div(class="col-lg-4 col-sm-6")
                    div(class="item")
                        span(class="icon feature_box_col_four")
                            i(class="fas fa-business-time")
                        h6 خدمات لوجستية
                        p عبارة عن ثقة , و الثقة التى يضعها عملاءنا تطورت نتيجة التأكد من ان بضائعهم وصلت فى الوقت المحدد و بالشكل المطلوب
                div(class="col-lg-4 col-sm-6")
                    div(class="item")
                        span(class="icon feature_box_col_five")
                            i(class="fas fa-award")
                        h6 اداء وجودة
                        p نحن نستمد قوتنا من العمل بنظام تكنولوجيا معلومات متطورة للعمل عبر سلسلة توريد و صياغة مبتكرة
                div(class="col-lg-4 col-sm-6")
                    div(class="item")
                        span(class="icon feature_box_col_six")
                            i(class="fas fa-money-bill")
                        h6 اسعار واقعية
                        p توفير التكاليف و الوصول الي حلول مبتكرة تقدم بشكل تفصيلى حسب احتياجاتك 

                        

                                                                

