extend index
block site_title 
    title  الاسئلة الشائعة
block index
    div(class="sub-banner")
        div(class="container breadcrumb-area")
            div(class="breadcrumb-areas")
                h1 الاسئلة الشائعة
                ul(class="breadcrumbs list-unstyled d-flex")
                    li(class="p-1")
                        a(href="index.html" class="p-1") الرئيسية
                    span(class="p-1") /  
                    li(class="active" class="p-1") الاسئلة الشائعة 

    div(class="feat why-chooce our-Clients bg-gray pt-5")
        div(class="container")
            div(class="row")
                div(class="section-head col-sm-12")
                    h4
                        span   
                        |  الاسئلة الشائعة
                    p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم
    section#faq(class="faq-section pt-3 mt-3")
        div(class="container")
            div(class="row")
                div(class="col-md-7")
                    #accordion(class="faq")
                        div(class="card")
                            #faqHeading-1(class="card-header")
                                div(class="mb-0")
                                    h5(class="faq-title", data-toggle="collapse", data-target="#faqCollapse-1", data-aria-expanded="true", data-aria-controls="faqCollapse-1")
                                        span(class="badge") 1
                                        |  ما الذي تقدمه الشركة ؟
                            #faqCollapse-1(class="collapse", aria-labelledby="faqHeading-1", data-parent="#accordion")
                                div(class="card-body")
                                    p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم. 
                        div(class="card")
                            #faqHeading-2(class="card-header")
                                div(class="mb-0")
                                    h5(class="faq-title", data-toggle="collapse", data-target="#faqCollapse-2", data-aria-expanded="false", data-aria-controls="faqCollapse-2")
                                        span(class="badge") 2
                                        | ماهي خطط الشركة للتطوير ؟
                            #faqCollapse-2(class="collapse", aria-labelledby="faqHeading-2", data-parent="#accordion")
                                div(class="card-body")
                                    p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم.
                        div(class="card")
                            #faqHeading-3(class="card-header")
                                div(class="mb-0")
                                    h5(class="faq-title", data-toggle="collapse", data-target="#faqCollapse-3", data-aria-expanded="false", data-aria-controls="faqCollapse-3")
                                        span(class="badge") 3
                                        | اين توجد فروع الشركة ؟
                            #faqCollapse-3(class="collapse", aria-labelledby="faqHeading-3", data-parent="#accordion")
                                div(class="card-body")
                                    p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم
                        div(class="card")
                            #faqHeading-4(class="card-header")
                                div(class="mb-0")
                                    h5(class="faq-title", data-toggle="collapse", data-target="#faqCollapse-4", data-aria-expanded="false", data-aria-controls="faqCollapse-4")
                                        span(class="badge") 4
                                        | ماهي رؤية الشركة في ظل الظروف الراهنة ؟
                            #faqCollapse-4(class="collapse", aria-labelledby="faqHeading-4", data-parent="#accordion")
                                div(class="card-body")
                                    p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم
                        div(class="card")
                            #faqHeading-5(class="card-header")
                                div(class="mb-0")
                                    h5(class="faq-title", data-toggle="collapse", data-target="#faqCollapse-5", data-aria-expanded="false", data-aria-controls="faqCollapse-5")
                                        span(class="badge") 5
                                        | هل هناك وظائف متاحة في الشركة ؟
                            #faqCollapse-5(class="collapse", aria-labelledby="faqHeading-5", data-parent="#accordion")
                                div(class="card-body")
                                    p  هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم
                        div(class="card")
                            #faqHeading-6(class="card-header")
                                div(class="mb-0")
                                    h5(class="faq-title", data-toggle="collapse", data-target="#faqCollapse-6", data-aria-expanded="false", data-aria-controls="faqCollapse-6")
                                        span(class="badge") 6
                                        | ماهي مجالات عمل الشركة ؟
                            #faqCollapse-6(class="collapse", aria-labelledby="faqHeading-6", data-parent="#accordion")
                                div(class="card-body")
                                    p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم
                        div(class="card")
                            #faqHeading-7(class="card-header")
                                div(class="mb-0")
                                    h5(class="faq-title", data-toggle="collapse", data-target="#faqCollapse-7", data-aria-expanded="false", data-aria-controls="faqCollapse-7")
                                        span(class="badge") 7
                                        | ماهي خدمات الشركة ؟
                            #faqCollapse-7(class="collapse", aria-labelledby="faqHeading-7", data-parent="#accordion")
                                div(class="card-body")
                                    p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم
                div(class="col-md-5")
                    
                    form#contact-form-data(class="contact-form ask-for-faq")
                        h3  اذا كان لديك استفسار او سؤال يرجي ملئ البيانات الاتية 
                        div(class="row")
                            #result(class="col-12")
                            div(class="col-lg-12 col-md-12 col-sm-12")
                                div(class="form-group")
                                    label الاسم 
                                    input(class="form-control", type="email", placeholder="اسمك", required="", name="userName")
                            div(class="col-lg-12 col-md-12 col-sm-12")
                                div(class="form-group")
                                    label البريد الالكتروني
                                    input(class="form-control", type="email", placeholder="البريد الالكتروني", required="", name="userEmail")
                            div(class="col-lg-12 col-md-12 col-sm-12")
                                div(class="form-group")
                                    label الرسالة 
                                    textarea(class="form-control", placeholder="سؤالك ", name="userMessage", rows="6", cols="50")
                            a(href="JavaScript:void(0);", class="btn button btn-rounded m-atuo text-center btn-light-blue btn-hvr-light-blue contact_btn")
                                | ارسال
                                div(class="btn-hvr-setting")
                                    ul(class="btn-hvr-setting-inner")
                                        li(class="btn-hvr-effect")
                                        li(class="btn-hvr-effect")
                                        li(class="btn-hvr-effect")
                                        li(class="btn-hvr-effect")
                    
