extend index
block site_title 
    title  خدماتنا
block index
    div(class="sub-banner")
        div(class="container breadcrumb-area")
            div(class="breadcrumb-areas")
                h1 خدماتنا
                ul(class="breadcrumbs list-unstyled d-flex")
                    li(class="p-1")
                        a(href="index.html" class="p-1") الرئيسية
                    span(class="p-1") /  
                    li(class="active" class="p-1") خدماتنا 

    div(class="feat why-chooce our-services bg-gray pt-5 pb-5")
        div(class="container")
            div(class="row")
                div(class="section-head col-sm-12")
                    h4
                        span لمحة عن  
                        |  خدماتنا
                    p تعتبر شركة دريم2  واحدة من اكبر رواد الشحن في مصر والعالم العربي حيث تقوم بتوفير خدمات الشحن من والي جميع أنحاء العالم (بري بحري و جوي ) صادر و وارد      
            div(class="services-row row content")    
                div(class="col-md-4")
                    div(class="services-box text-right") 
                        a(href="service.html")
                            div(class="service-image")
                                img(src="../classic-business/img/image-a.jpg", alt="", srcset="" class="img-fluid")
                        div(class="service-content mt-2")
                            h3 الشحن البري
                            p(class="text-justify") هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص
                div(class="col-md-4")
                    div(class="services-box text-right") 
                        a(href="service.html")
                            div(class="service-image")
                                img(src="../classic-business/img/servies2.jpg", alt="", srcset="" class="img-fluid")
                        div(class="service-content mt-2")
                            h3 الشحن الجوي
                            p(class="text-justify") هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص

                div(class="col-md-4")
                    div(class="services-box text-right") 
                        a(href="service.html")
                            div(class="service-image")
                                img(src="../classic-business/img/servies3.jpg", alt="", srcset="" class="img-fluid")
                        div(class="service-content mt-2")
                            h3 الشحن البحري
                            p(class="text-justify") هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص
                                                                                  


