extend index
block site_title 
    title  تفاصيل الخدمة
block index
    div(class="sub-banner")
        div(class="container breadcrumb-area")
            div(class="breadcrumb-areas")
                h1 تفاصيل الخدمة
                ul(class="breadcrumbs list-unstyled d-flex")
                    li(class="p-1")
                        a(href="index.html" class="p-1") الرئيسية
                    span(class="p-1") /  
                    li(class="active" class="p-1") تفاصيل الخدمة 
    section#service(class="blog-section")
        div(class="container")
            div(class="row no-gutters")
                div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12 right-text wow fadeInLeftBig mb-3", data-wow-delay="300ms")
                    h2 تفاصيل الخدمة  
                    p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم
                    a(class="btn button btn-rounded btn-light-blue btn-hvr-light-blue", href="javascript:void(0);")
                        | لمعرفة المزيد
                        div(class="btn-hvr-setting")
                            ul(class="btn-hvr-setting-inner")
                                li(class="btn-hvr-effect")
                                li(class="btn-hvr-effect")
                                li(class="btn-hvr-effect")
                                li(class="btn-hvr-effect")
                div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12 wow fadeInRightBig", data-wow-delay="300ms")
                    img(src="../classic-business/img/land-freight.jpg", alt="image" class="img-fluid")
                div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12 right-text order-2 order-lg-1 wow fadeInLeftBig", data-wow-delay="300ms")
                    img(src="../classic-business/img/land-freight1.jpg", alt="image")
                div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12 right-text order-1 order-lg-2 wow fadeInRightBig pr-3", data-wow-delay="300ms")
                    h2 تفاصيل الخدمة  
                    p  هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم
                    a(class="btn button btn-rounded btn-light-blue btn-hvr-light-blue", href="javascript:void(0);")
                        | لمعرفة المزيد
                        div(class="btn-hvr-setting")
                            ul(class="btn-hvr-setting-inner")
                                li(class="btn-hvr-effect")
                                li(class="btn-hvr-effect")
                                li(class="btn-hvr-effect")
                                li(class="btn-hvr-effect")
                    
