extend index
block site_title 
    title  About Us 
block index
    div(class="sub-banner")
        div(class="container breadcrumb-area")
            div(class="breadcrumb-areas")
                h1 About Us
                ul(class="breadcrumbs list-unstyled d-flex")
                    li(class="p-1")
                        a(href="index.html" class="p-1") Home
                    span(class="p-1") /  
                    li(class="active" class="p-1") About Us    
    div(class="about-us pt-5 pb-5")  
        div(class="container")
            div(class="row")
                div(class="col-md-5 featured-tabs")
 	            
                    img(src="classic-business/img/abt-left-img.jpg", alt="", srcset="" class="img-fluid")   
                  
                div(class="col-md-7")
                    h3(class="mb-3") About Us 
                    p(class="text-justify") 	About Us: 
                                |    Our aim is to become an extension of your business rather than just another external supplier. To us, service is the very soul of business, we have built our business around our clients' needs, we put high value on loyalty, trust and dependability, giving you the peace of mind of knowing we will act with complete integrity and honesty in all we do.
                    a(class="download-porshure btn" href="http://www.dream2shipping.com/en/logos/profile.rar") 
                        i(class="fas fa-file-download")
                        | Download  Profile
    //- why chooce
    div(class="feat why-chooce bg-gray pt-5 pb-5")
        div(class="container")
            div(class="row")
                div(class="section-head col-sm-12")
                    h4
                        span Why Choose
                        | Us?
                    p When you choose us, you&apos;ll feel the benefit of 10 years&apos; experience of Web Development. Because we know the digital world and we know that how to handle it. With working knowledge of online, SEO and social media.
                div(class="col-lg-4 col-sm-6")
                    div(class="item")
                        span(class="icon feature_box_col_one")
                            i(class="fas fa-shield-alt")
                        h6 Secure
                        p We use latest technology for the latest world because we know the demand of peoples.
                div(class="col-lg-4 col-sm-6")
                    div(class="item")
                        span(class="icon feature_box_col_two")
                            i(class="fa fa-rocket")
                        h6 Fast Delivery 
                        p We are always creative and and always lisen our costomers and we mix these two things and make beast design.
                div(class="col-lg-4 col-sm-6")
                    div(class="item")
                        span(class="icon feature_box_col_three")
                            i(class="fas fa-stopwatch")
                        h6 24 x 7  Support
                        p If our customer has any problem and any query we are always happy to help then.
                div(class="col-lg-4 col-sm-6")
                    div(class="item")
                        span(class="icon feature_box_col_four")
                            i(class="fas fa-business-time")
                        h6 Business Growth
                        p Everyone wants to live on top of the mountain, but all the happiness and growth occurs while you&apos;re climbing it
                div(class="col-lg-4 col-sm-6")
                    div(class="item")
                        span(class="icon feature_box_col_five")
                            i(class="fas fa-award")
                        h6  Proven Experience
                        p Holding back technology to preserve broken business models is like allowing blacksmiths to veto the internal combustion engine in order to protect their horseshoes.
                div(class="col-lg-4 col-sm-6")
                    div(class="item")
                        span(class="icon feature_box_col_six")
                            i(class="fas fa-money-bill")
                        h6  Cost Savings
                        p Love is a special word, and I use it only when I mean it. You say the word too much and it becomes cheap.
                        

                                                                

