doctype html
html()
  head
    // Meta Tags
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    // description
    meta(name="description", content="")
    // keywords
    meta(name="keywords", content="")
    // Page Title
    block site_title
        title Dream 2 Shipping 
    // Favicon
    include include/style
   
  body(data-spy="scroll", data-target=".navbar", data-offset="50")
    // Start Loader
    div(class="pre-loader")
      div(class="loader")
        div
        div
        div
    // End Loader
    // Start Header
    include include/header
    block index 
      section(class="main-slider")
          div(class="main-slider-carousel owl-carousel owl-theme" )
              div(class="item")
                  img(class="img-fluid" src="classic-business/img/banner1.jpg" alt="")
                  div(class="item-details")
                      div(class="container")
                          div(class="item-text")
                              h2(class="title") Dream 2 Shipping
                              p Dream 2 considered one of the best provider for shipping and logistic services in Egypt and middle-east
                              div(class="item-btn")
                                  div(class="outer-btn")
                                      a(href="about.html" class="btn")
                                          span read more
              div(class="item")
                  img(class="img-fluid" src="classic-business/img/banner-2.jpg" alt="")
                  div(class="item-details")
                      div(class="container")
                          div(class="item-text")
                              h2(class="title") Dream 2 Shipping
                              p Dream 2 considered one of the best provider for shipping and logistic services in Egypt and middle-east
                              div(class="item-btn")
                                  div(class="outer-btn")
                                      a(href="about.html" class="btn")
                                          span read more
              div(class="item")
                  img(class="img-fluid" src="classic-business/img/banner-3.jpg" alt="")
                  div(class="item-details")
                          div(class="container")
                              div(class="item-text")
                                  h2(class="title") Dream 2 Shipping
                                  p Dream 2 considered one of the best provider for shipping and logistic services in Egypt and middle-east
                                  div(class="item-btn")
                                      div(class="outer-btn")
                                          a(href="about.html" class="btn")
                                              span read more
          //main slider
      div(class="about-us pt-5 pb-5")  
        div(class="container")
            div(class="row align-items-center")
                div(class="col-md-6")
                    h3(class="mb-3") About Us 
                    p(class="text-justify")  
                                |    Our aim is to become an extension of your business rather than just another external supplier. To us, service is the very soul of business, we have built our business around our clients' needs, we put high value on loyalty, trust and dependability, giving you the peace of mind of knowing we will act with complete integrity and honesty in all we do.
                div(class="col-md-6 featured-tabs")
 	            
                  div#owl-demo(class="text-center owl-carousel owl-themes active wow zoomIn", data-wow-delay="400ms")
                    div(class="item")
                      img(src="classic-business/img/slider/slider0.jpg", alt="Owl Image")
                    div(class="item")
                      img(src="classic-business/img/slider/slider1.jpg", alt="Owl Image")
                    div(class="item")
                      img(src="classic-business/img/slider/slider2.jpg", alt="Owl Image")
                    div(class="item")
                      img(src="classic-business/img/slider/slider3.jpg", alt="Owl Image")
                    div(class="item")
                      img(src="classic-business/img/slider/slider4.jpg", alt="Owl Image")
                    div(class="item")
                      img(src="classic-business/img/slider/slider5.jpg", alt="Owl Image")                
                    
      section#services(class="services-section")
        div(class="container")
          h2(class="wow fadeInDown", data-wow-delay="300ms") Our Services
          p(class="wow fadeInDown", data-wow-delay="300ms")    Where shipping services refer to abroad (land, sea and air) 

          div(class="row no-gutters ")
            // Box-1
            div(class="col-lg-4 col-md-4 col-sm-12 flip-boxes wow fadeInLeft", data-wow-delay="400ms")
              div(class="flip-box")
                a(href="service.html")
                  div(class="flip-box-inner")
                    div(class="flip-box-front")
                      i(class="fas fa-shipping-fast")
                      h5 Land shipping
                    div(class="flip-box-back")
                      i(class="fas fa-shipping-fast")
                      p Dream 2 is one of the pioneers of land transportation. Where we have a full fleet of open and closed trucks 
            // Box-2
            div(class="col-lg-4 col-md-4 col-sm-12 flip-boxes wow fadeIn", data-wow-delay="300ms")
              div(class="flip-box")
                a(href="service.html")
                  div(class="flip-box-inner blue-box")
                    div(class="flip-box-front")
                      i(class="fas fa-ship")
                      h5 Sea ​​freight
                    div(class="flip-box-back")
                      i(class="fas fa-ship")
                      p Dream 2 is the agents of the largest shipping lines that have a good reputation for their regular schedules and flights.
            // Box-3
            div(class="col-lg-4 col-md-4 col-sm-12 flip-boxes wow fadeInRight", data-wow-delay="400ms")
              div(class="flip-box")
                a(href="service.html")
                  div(class="flip-box-inner")
                    div(class="flip-box-front")
                      i(class="fas fa-fighter-jet")
                      h5 Air Freight
                    div(class="flip-box-back")
                      i(class="fas fa-fighter-jet")
                      p Dream 2 is the agent of all airlines to and from all airports in the world at competitive prices
      // End Services
      // Start Learn More
      section(class="learn-more-section")
        div(class="container")
          div(class="text-area wow fadeInDown", data-wow-delay="300ms")
            p Our goal is to become an extension of your business rather than just an independent service provider
            h2 Dream 2 Shipping  
            a(class="btn button btn-rounded trans-btn btn-hvr-white wow fadeInUp", data-wow-delay="300ms", href="javascript:void(0);")
              | read more
              div(class="btn-hvr-setting")
                ul(class="btn-hvr-setting-inner")
                  li(class="btn-hvr-effect")
                  li(class="btn-hvr-effect")
                  li(class="btn-hvr-effect")
                  li(class="btn-hvr-effect")
      // End Learn More
      // Start Counters
      section(class="counter-section")
        div(class="container")
          h2(class="wow fadeInDown", data-wow-delay="300ms")  statistics
          p(class="wow fadeInDown", data-wow-delay="300ms") Dream2 is one of the largest shipping pioneers in Egypt and the Arab world
            br
            | Where it provides shipping services to and from all over the world (Land, Sea and Air) export and import
          div(class="row no-gutters")
            // Counter-1
            div(class="col-lg-3 col-md-12 col-sm-12 col-xs-12 wow fadeInLeft", data-wow-delay="400ms")
              div(class="counter")
                div(class="media")
                  i(class="fas fa-chart-bar")
                  div(class="media-body")
                    span(class="timer count-title count-number count") 548
                    p Shipping Transfers
            // Counter-2
            div(class="col-lg-3 col-md-12 col-sm-12 col-xs-12 wow fadeInLeft", data-wow-delay="400ms")
              div(class="counter")
                div(class="media")
                  i(class="far fa-clock")
                  div(class="media-body")
                    span(class="timer count-title count-number count") 1465
                    p Working Hours
            // Counter-3
            div(class="col-lg-3 col-md-12 col-sm-12 col-xs-12 wow fadeInRight", data-wow-delay="400ms")
              div(class="counter")
                div(class="media")
                  i(class="far fa-star")
                  div(class="media-body")
                    span(class="timer count-title count-number count") 612
                    p positive impressions
            // Counter-4
            div(class="col-lg-3 col-md-12 col-sm-12 col-xs-12 wow fadeInRight", data-wow-delay="400ms")
              div(class="counter")
                div(class="media")
                  i(class="far fa-heart")
                  div(class="media-body")
                    span(class="timer count-title count-number count") 735
                    p happy customers
      // End Counters
      // Start Team
      section#team(class="team-section")
        div(class="container")
          h2(class="wow fadeInDown", data-wow-delay="300ms") Meet The Team
          p(class="wow fadeInDown", data-wow-delay="300ms") Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          div(class=" text-center team-section-carousel owl-carousel owl-themes active wow zoomIn", data-wow-delay="400ms")
            // Team-1
            div(class="item")
              img(src="classic-business/img/team1.jpg", alt="image")
              div(class="team-detail")
                h5 Staff one
                p  Staff one
            // Team-2
            div(class="item")
              img(src="classic-business/img/team1.jpg", alt="image")
              div(class="team-detail")
                h5  Staff one
                p Staff one
            // Team-3
            div(class="item")
              img(src="classic-business/img/team1.jpg ", alt="image")
              div(class="team-detail")
                h5 Staff one
                p  Staff one
            // Team-4
            div(class="item")
              img(src="classic-business/img/team1.jpg", alt="image")
              div(class="team-detail")
                h5  Staff one
                p  Staff one
            // Team-5
            div(class="item")
              img(src="classic-business/img/team1.jpg", alt="image")
              div(class="team-detail")
                h5  Staff one
                p  Staff one
            // Team-6
            div(class="item")
              img(src="classic-business/img/team1.jpg", alt="image")
              div(class="team-detail")
                h5  Staff one
                p  Staff one
            // Team-7
            div(class="item")
              img(src="classic-business/img/team1.jpg", alt="image")
              div(class="team-detail")
                h5 Staff one
                p  Staff one
            // Team-8
            div(class="item")
              img(src="classic-business/img/team1.jpg", alt="image")
              div(class="team-detail")
                h5  Staff one
                p  Staff one
            // Team-9
            div(class="item")
              img(src="classic-business/img/team1.jpg", alt="image")
              div(class="team-detail")
                h5  Staff one
                p  Staff one
      // End Team
      // Start Story
      section(class="story-section")
        div(class="container")
          div(class="text-area wow fadeInDown", data-wow-delay="300ms")
            p Our Story
            h2 Watch a short video about our success story
            a(data-fancybox="", href="https://www.youtube.com/watch?v=7e90gBu4pas", class="btn button btn-rounded trans-btn btn-hvr-white wow fadeInUp", data-wow-delay="300ms")
              i(class="fas fa-play")
              | Play
              div(class="btn-hvr-setting")
                ul(class="btn-hvr-setting-inner")
                  li(class="btn-hvr-effect")
                  li(class="btn-hvr-effect")
                  li(class="btn-hvr-effect")
                  li(class="btn-hvr-effect")
      // End Story
      // Start Portfolio
      section#work(class="cubeportfolio")
        div(class="container")
          h2(class="wow fadeInDown", data-wow-delay="300ms") Our Last Shipping Travel
          p(class="wow fadeInDown", data-wow-delay="300ms") The last cargo flights made by the company
          
          // Portfolio Items Start
          p(class="imglist",)
            a(href="classic-business/img/gallery/gallery1.jpg", data-fancybox="images")
              img(src="classic-business/img/gallery/gallery1.jpg")
            a(href="classic-business/img/servies2.jpg", data-fancybox="images")
              img(src="classic-business/img/servies2.jpg")
            a(href="classic-business/img/gallery/gallery3.jpg", data-fancybox="images")
              img(src="classic-business/img/gallery/gallery3.jpg")
            a(href="classic-business/img/gallery/gallery4.jpg", data-fancybox="images")
              img(src="classic-business/img/gallery/gallery4.jpg")
            a(href="classic-business/img/gallery/gallery7.jpg", data-fancybox="images")
              img(src="classic-business/img/gallery/gallery7.jpg")
            a(href="classic-business/img/gallery/gallery6.jpg", data-fancybox="images")
              img(src="classic-business/img/gallery/gallery6.jpg")

          
            
          div(class="cube-button")
            a(class="btn button btn-rounded btn-light-blue btn-hvr-light-blue", href="javascript:void(0);")
              | Read More
              div(class="btn-hvr-setting")
                ul(class="btn-hvr-setting-inner")
                  li(class="btn-hvr-effect")
                  li(class="btn-hvr-effect")
                  li(class="btn-hvr-effect")
                  li(class="btn-hvr-effect")
      // End Portfolio
      // Start Quote
      section(class="quote-section")
        div(class="container")
           
          #testimonial4(class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x", data-ride="carousel", data-pause="hover", data-interval="5000", data-duration="2000")
            div(class="carousel-inner", role="listbox")
              div(class="carousel-item active")
                div(class="testimonial4_slide")
                  img(src="classic-business/img/team.jpg", class="img-circle img-responsive")
                 
                  p(class="font-itailic") Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                   
                  h4 Client 1
              div(class="carousel-item")
                div(class="testimonial4_slide")
                  img(src="classic-business/img/team.jpg", class="img-circle img-responsive")
                 
                  p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                 
                  h4 Client 1    
              
            a(class="carousel-control-prev", href="#testimonial4", data-slide="prev")
              span(class="carousel-control-prev-icon")
            a(class="carousel-control-next", href="#testimonial4", data-slide="next")
              span(class="carousel-control-next-icon")
              
      // End Quote
      //- // Start Pricing
      //- #pricing(class="pricing-section")
      //-   div(class="container")
      //-     h2(class="wow fadeInDown", data-wow-delay="300ms") Pricing Plans
      //-     p(class="wow fadeInDown", data-wow-delay="300ms") Vivamus ut scelerisque tellus. Morbi egestas neque et lorem sodales faucibus. Etiam
      //-       br
      //-       | efficitur vehicula commodo. Curabitur ac libero ullamcorper,
      //-       div(class="row pricing-plans")
      //-         div(class="col-lg-4 wow fadeInLeft", data-wow-delay="400ms")
      //-           div(class="single-price")
      //-             div(class="price-tag")
      //-               h4 Starter Plan
      //-               h3 $19.
      //-                 span 00
      //-               p 1Months
      //-             div(class="price-item")
      //-               ul
      //-                 li Modern &amp; Creative Design
      //-                 li Premium Plugins
      //-                 li Clean Code
      //-                 li Responsive Layouts
      //-                 li Google Fonts
      //-                 li Highly Customizable
      //-             a(class="btn button btn-rounded btn-white btn-hvr-blue", href="javascript:void(0);")
      //-               | GET STARTED
      //-               div(class="btn-hvr-setting")
      //-                 ul(class="btn-hvr-setting-inner")
      //-                   li(class="btn-hvr-effect")
      //-                   li(class="btn-hvr-effect")
      //-                   li(class="btn-hvr-effect")
      //-                   li(class="btn-hvr-effect")
      //-         div(class="col-lg-4  wow fadeIn", data-wow-delay="400ms")
      //-           div(class="single-price active")
      //-             div(class="price-tag ")
      //-               h4 Business Plan
      //-               h3 $79.
      //-                 span 00
      //-               p 6Months
      //-             div(class="price-item")
      //-               ul
      //-                 li Modern &amp; Creative Design
      //-                 li Premium Plugins
      //-                 li Clean Code
      //-                 li Responsive Layouts
      //-                 li Google Fonts
      //-                 li Highly Customizable
      //-             a(class="btn button btn-rounded btn-light-blue btn-hvr-light-blue", href="javascript:void(0);")
      //-               | GET STARTED
      //-               div(class="btn-hvr-setting")
      //-                 ul(class="btn-hvr-setting-inner")
      //-                   li(class="btn-hvr-effect")
      //-                   li(class="btn-hvr-effect")
      //-                   li(class="btn-hvr-effect")
      //-                   li(class="btn-hvr-effect")
      //-         div(class="col-lg-4  wow fadeInRight", data-wow-delay="400ms")
      //-           div(class="single-price")
      //-             div(class="price-tag")
      //-               h4 Premium Plan
      //-               h3 $149.
      //-                 span 00
      //-               p 12Months
      //-             div(class="price-item")
      //-               ul
      //-                 li Modern &amp; Creative Design
      //-                 li Premium Plugins
      //-                 li Clean Code
      //-                 li Responsive Layouts
      //-                 li Google Fonts
      //-                 li Highly Customizable
      //-             a(class="btn button btn-rounded btn-white btn-hvr-blue", href="javascript:void(0);")
      //-               | GET STARTED
      //-               div(class="btn-hvr-setting")
      //-                 ul(class="btn-hvr-setting-inner")
      //-                   li(class="btn-hvr-effect")
      //-                   li(class="btn-hvr-effect")
      //-                   li(class="btn-hvr-effect")
      //-                   li(class="btn-hvr-effect")
      //-       // End Pricing
      //-       // Start Blog
      //-     // Start Blog
      //- section#blog(class="blog-section")
      //-     div(class="container")
      //-         div(class="row no-gutters")
      //-             div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12 left-text wow fadeInLeftBig", data-wow-delay="300ms")
      //-                 h2 Work Environment
      //-                 p Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus. 
      //-                 a(class="btn button btn-rounded btn-light-blue btn-hvr-light-blue", href="javascript:void(0);")
      //-                     | Read Full Story
      //-                     div(class="btn-hvr-setting")
      //-                         ul(class="btn-hvr-setting-inner")
      //-                             li(class="btn-hvr-effect")
      //-                             li(class="btn-hvr-effect")
      //-                             li(class="btn-hvr-effect")
      //-                             li(class="btn-hvr-effect")
      //-             div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12 wow fadeInRightBig", data-wow-delay="300ms")
      //-                 img(src="classic-business/img/blog-1.jpg", alt="image")
      //-             div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12 right-text order-2 order-lg-1 wow fadeInLeftBig", data-wow-delay="300ms")
      //-                 img(src="classic-business/img/blog-2.jpg", alt="image")
      //-             div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12 right-text order-1 order-lg-2 wow fadeInRightBig", data-wow-delay="300ms")
      //-                 h2 Web Development
      //-                 p Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin  Quisque vitae sodales lectus. 
      //-                 a(class="btn button btn-rounded btn-light-blue btn-hvr-light-blue", href="javascript:void(0);")
      //-                     | Read Full Story
      //-                     div(class="btn-hvr-setting")
      //-                         ul(class="btn-hvr-setting-inner")
      //-                             li(class="btn-hvr-effect")
      //-                             li(class="btn-hvr-effect")
      //-                             li(class="btn-hvr-effect")
      //-                             li(class="btn-hvr-effect")
      //- // End Blog
      //- // Start Contact
      section#contact(class="contact-section")
          div(class="container")
              div(class="row")
                  div(class="col-lg-12 col-md-12 col-sm-12 wow fadeInLeft", data-wow-delay="300ms")
                      h2 Let&apos;s Get In Touch
                      form#contact-form-data(class="contact-form")
                          div(class="row")
                              #result(class="col-12")
                              div(class="col-lg-6 col-md-6 col-sm-6")
                                  div(class="form-group")
                                      label Name
                                      input(class="form-control", type="email", placeholder="Your Name", required="", name="userName")
                              div(class="col-lg-6 col-md-6 col-sm-6")
                                  div(class="form-group")
                                      label Email
                                      input(class="form-control", type="email", placeholder="email@website.com", required="", name="userEmail")
                              div(class="col-lg-12 col-md-12 col-sm-12")
                                  div(class="form-group")
                                      label Message
                                      textarea(class="form-control", placeholder="Write your message here", name="userMessage", rows="6", cols="50")
                              a(href="JavaScript:void(0);", class="btn button btn-rounded btn-light-blue btn-hvr-light-blue contact_btn")
                                  | SEND
                                  div(class="btn-hvr-setting")
                                      ul(class="btn-hvr-setting-inner")
                                          li(class="btn-hvr-effect")
                                          li(class="btn-hvr-effect")
                                          li(class="btn-hvr-effect")
                                          li(class="btn-hvr-effect")
                   

      //-     // Start Footer
    
   
    include include/footer 
        // End Footer
    
    include include/script 