extend index
block site_title 
    title  Jobs
block index
    div(class="sub-banner")
        div(class="container breadcrumb-area")
            div(class="breadcrumb-areas")
                h1 Jobs
                ul(class="breadcrumbs list-unstyled d-flex")
                    li(class="p-1")
                        a(href="index.html" class="p-1") Home
                    span(class="p-1") /  
                    li(class="active" class="p-1") Jobs 

    div(class="feat why-chooce our-faq bg-gray pt-5")
        div(class="container")
            div(class="row")
                div(class="section-head col-sm-12")
                    h4
                        span Our 
                        |  Jobs
                    p  You can apply for a job with us just fill out the following form

    section(class="employee-form")
        div(class="container")
            form( method="POST", enctype="multipart/form-data", target="_blank")
                h3 Employment Form 
                div(class="form-group")
                    label(for="exampleInputName") Full Name
                    input#exampleInputName(type="text", name="fullname", class="form-control", placeholder="Enter your name and surname", required="required")
                div(class="form-group")
                    label(for="exampleInputEmail1", required="required") Email address
                    input#exampleInputEmail1(type="email", name="email", class="form-control", aria-describedby="emailHelp", placeholder="Enter your email address")
                div(class="form-group")
                    label(for="inputAddress") Address
                    input#inputAddress(type="text", name="address", class="form-control", placeholder="1234 Main St")
                div(class="form-row")
                    div(class="form-group col-md-6")
                        label(for="inputCity") City
                        input#inputCity(type="text", name="city", class="form-control", placeholder="Istanbul")
                    div(class="form-group col-md-2")
                        label(for="inputZip") Zip
                        input#inputZip(type="text", name="zip", class="form-control", placeholder="34000")
                div(class="form-row")        
                    div(class="form-group col-md-6")
                        label(for="example-tel-input", class="col-2 col-form-label") Telephone
                        input#example-tel-input(class="form-control", name="tel", type="tel", value="1-(555)-555-5555")
                    div(class="form-group col-md-6")
                        label(for="example-date-input", class="col-3 col-form-label") Birth Date
                        input#example-date-input(class="form-control", name="starting_date", type="date", value="2020-02-01")
                div(class="form-group mt-3")
                    label(class="mr-4") Upload your CV:
                    input(type="file", name="file")
                a(href="JavaScript:void(0);", class="btn button btn-rounded m-atuo text-center btn-light-blue btn-hvr-light-blue contact_btn")
                    | Submit
                    div(class="btn-hvr-setting")
                        ul(class="btn-hvr-setting-inner")
                            li(class="btn-hvr-effect")
                            li(class="btn-hvr-effect")
                            li(class="btn-hvr-effect")
                            li(class="btn-hvr-effect")
                    


