extend index
block site_title 
    title  Our Services
block index
    div(class="sub-banner")
        div(class="container breadcrumb-area")
            div(class="breadcrumb-areas")
                h1 Our Services
                ul(class="breadcrumbs list-unstyled d-flex")
                    li(class="p-1")
                        a(href="index.html" class="p-1") Home
                    span(class="p-1") /  
                    li(class="active" class="p-1") Our Services 

    div(class="feat why-chooce our-services bg-gray pt-5 pb-5")
        div(class="container")
            div(class="row")
                div(class="section-head col-sm-12")
                    h4
                        span Our 
                        |  Services
                    p Dream 2 considered one of the best provider for shipping and logistic services in Egypt and middle-east      
            div(class="services-row row content")    
                div(class="col-md-4")
                    div(class="services-box") 
                        a(href="service.html")
                            div(class="service-image")
                                img(src="classic-business/img/image-a.jpg", alt="", srcset="" class="img-fluid")
                        div(class="service-content mt-2")
                            h3 Land Fright
                            p(class="text-justify") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste cum minima quos, saepe aut provident id laborum ipsam
                div(class="col-md-4")
                    div(class="services-box") 
                        a(href="service.html")
                            div(class="service-image")
                                img(src="classic-business/img/image-a.jpg", alt="", srcset="" class="img-fluid")
                        div(class="service-content mt-2")
                            h3 Land Fright
                            p(class="text-justify") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste cum minima quos, saepe aut provident id laborum ipsam

                div(class="col-md-4")
                    div(class="services-box") 
                        a(href="service.html")
                            div(class="service-image")
                                img(src="classic-business/img/image-a.jpg", alt="", srcset="" class="img-fluid")
                        div(class="service-content mt-2")
                            h3 Land Fright
                            p(class="text-justify") Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste cum minima quos, saepe aut provident id laborum ipsam
                                                                                  


