extend index
block site_title 
    title  Service
block index
    div(class="sub-banner")
        div(class="container breadcrumb-area")
            div(class="breadcrumb-areas")
                h1 Service
                ul(class="breadcrumbs list-unstyled d-flex")
                    li(class="p-1")
                        a(href="index.html" class="p-1") Home
                    span(class="p-1") /  
                    li(class="active" class="p-1") Service 
    section#service(class="blog-section")
        div(class="container")
            div(class="row no-gutters")
                div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12 left-text wow fadeInLeftBig", data-wow-delay="300ms")
                    h2 Service 
                    p Dream 2 believe that keeping up with the path in the increasing market of logistics is a must for our growth we have grown from freight forwarder to a full logistic company offering our clients global range of services and modular solutions adapted to their requirement, by being up to date in knowledge, capacity, customs regulations and distribution channels throughout the world,
                    a(class="btn button btn-rounded btn-light-blue btn-hvr-light-blue", href="javascript:void(0);")
                        | Read Full Story
                        div(class="btn-hvr-setting")
                            ul(class="btn-hvr-setting-inner")
                                li(class="btn-hvr-effect")
                                li(class="btn-hvr-effect")
                                li(class="btn-hvr-effect")
                                li(class="btn-hvr-effect")
                div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12 wow fadeInRightBig", data-wow-delay="300ms")
                    img(src="classic-business/img/land-freight.jpg", alt="image" class="img-fluid")
                div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12 right-text order-2 order-lg-1 wow fadeInLeftBig", data-wow-delay="300ms")
                    img(src="classic-business/img/land-freight1.jpg", alt="image")
                div(class="col-lg-6 col-md-12 col-sm-12 col-xs-12 right-text order-1 order-lg-2 wow fadeInRightBig", data-wow-delay="300ms")
                    h2 Service 
                    p  our logistic services reduces the costs and risk of keeping stock. •Dream 2 offering a direct overland service for reefer, dry and heavy lift cargoes from different locations, nationally or internationally, around the clock as per the needs and the demands of the principals.
                    a(class="btn button btn-rounded btn-light-blue btn-hvr-light-blue", href="javascript:void(0);")
                        | Read Full Story
                        div(class="btn-hvr-setting")
                            ul(class="btn-hvr-setting-inner")
                                li(class="btn-hvr-effect")
                                li(class="btn-hvr-effect")
                                li(class="btn-hvr-effect")
                                li(class="btn-hvr-effect")
                    
